<div th:fragment="html">
    <img src="img/site/catear.png" id="catear" class="catear"/>

    <div class="categoryWithCarousel">

        <div class="headbar show1">
            <div class="head "  >

                <span style="margin-left:10px" class="glyphicon glyphicon-th-list"></span>
                <span style="margin-left:10px" >电子商场</span>

            </div>

            <div class="rightMenu">
                <span v-for="c,index in categories" v-if='index<=5'>
                        <a :href="'category?cid='+c.id">{{c.name}}</a>
                    </span>
            </div>

        </div>



        <div th:replace="include/fore/home/category/carousel::html" ></div>

        <div class="carouselBackgroundDiv">
        </div>

    </div>
</div>